.controll {
  padding: 100px 0;
  background-color: $primary;
  @include center-all(column);

  .controll--title {
    width: fit-content;
    @include center-all(column);

    p {
      font-size: 1.3rem;
      font-weight: lighter;
      color: $secondary;
    }

    h1 {
      font-size: 4.5rem;
      font-weight: lighter;
      color: $secondary;
    }
    .separator {
      height: 1px;
      width: 110%;
      background-color: $general;
      margin: 10px 0 5px 0;
    }
  }

  .controll--form {
    margin-top: 50px;
    display: flex;
    @include center-all(column);
    flex-wrap: wrap;

    .inline {
      display: flex;
      align-items: center;
    }

    button {
      @include form-style;
      margin: 10px 15px;
      display: flex;
      align-items: center;
      transition: transform 70ms ease-in-out, box-shadow 200ms ease-in-out;

      &:hover {
        box-shadow: 3px 3px 5px $shadow;
      }

      &:active {
        transform: scale(0.95);
        // transition: transform 100ms;
      }
    }

    input {
      @include form-style;
      margin: 10px 15px;
    }
  }
}
