@media screen and (min-width: 1500px) {
  main .container {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  main .container {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  main .container {
    width: 100%;
  }
  main .container .box .time-line {
    margin: 0 40px;
  }

  main .container .box .info {
    width: 60%;
    right: 0;
  }

  main .container .box:nth-child(odd) > .time-line::after,
  main .container .box:nth-child(even) > .time-line::after {
    left: 100%;
  }

  main .container .box:nth-child(even) > .info,
  main .container .box:nth-child(odd) > .info {
    left: 100px;
  }

  main .container .box .info .info__place,
  main .container .box .info .info__date {
    text-align: left !important;
  }
}
